.header {
  width: 100%;
  height: 50%;
  //background-image: url(../img/lines.png), url(../img/headerbg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 1.5vw 40vh, left bottom;
  background-size: 20%, cover;
  color: rgb(221, 35, 35);